/* BASE STYLES */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    position: relative;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVIGATION */
nav {
    background-color: #020c1b;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #64ffda;
}

/* ACTIVE NAV */
.nav-menu a.active {
    background: #e3e5e8;
    color: rgb(97, 28, 227);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

/* SECTIONS */
section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
}

/* PROJECTS */
.project {
    margin-bottom: 30px;
    padding: 20px;
    border-left: 5px solid #0a192f;
    background-color: #f9f9f9;
}

.project-files {
    list-style: none;
    padding-left: 0;
}

.project-files li {
    margin: 10px 0;
}

.project-files a {
    text-decoration: none;
    color: #0a192f;
    font-weight: bold;
}

.project-files a:hover {
    color: #64ffda;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    background-color: #ddd;
}

/* ✅ HOME PAGE BACKGROUND ONLY */
body.home {
    background-image: url("https://raw.githubusercontent.com/MfundoZwane96/My-PortifolioWebsite/main/313010.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
     display: flex;
     flex-direction: column;
}

/* DARK OVERLAY */
body.home::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

body.home section {
    max-width: 700px;
    min-height: 60px;  
    padding: 15px;
    margin: 40px auto;
}


body.home header {
    flex: 1;                     
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;         
    text-align: center;
    color: white;
}


